<div clas="row">
  <div class="large-6 medium-6 small-6 column">
    <h3>Easy DB Check</h3>
  </div>
  <div class="large-6 medium-6 small-6 column">
    <p> There should only ever be 1 prize object at any given time</p>
  </div>
</div>

<div class="row">
  <div class="large-5 medium-5 small-5 column">
    <p>Prize Object Count: <%= Prize.count %></p>
  </div>
  <div class="large-5 medium-5 small-5 column">
    <p>Counter: <%= @prize.counter %></p>
  </div>
</div>
