<h3>Easy DB Check</h3>
<p> There should only ever be 1 prize object at any given time</p>

<div class="row">
  <div class="large-5">
    <p>Prize Object Count: <%= Prize.count %></p>
  </div>
  <div class="large-5">
    <p>Counter: <%= @prize.counter %></p>
  </div>
</div>
