<div class="row zendesk-header">
  <div class="large-3"><%= image_tag @prize.zendesk_logo.url(:normal) %></div>
</div>

<div class="row">
  <div class="large-6, ">
    <h1>YAY</h1>
  </div>
</div>

<div class="row">
  <div>
    <h3>You've won a prize!</h3>
  </div>
</div>

<div class="row">
  <div class="large-12">
    <% if @prize.calculate_prize_level == 1 %>
      <%= image_tag @prize.tier_1_prize.url %>
    <% elsif @prize.calculate_prize_level == 2 %>
      <%= image_tag @prize.tier_2_prize.url %>
    <% else %>
      <%=image_tag @prize.tier_3_prize.url %>
    <% end %>
  </div>
</div>
