<div class="row zendesk-header">
  <div class="large-3"><%= image_tag @prize.zendesk_logo.url(:normal) %></div>
</div>

<div class="row">
  <div class="large-6, ">
    <h1>YAY</h1>
  </div>
</div>

<div class="row">
  <div>
    <h3>You've won a prize!</h3>
    <h6>Counter: <%= @prize.counter %></h6>
    <h6>Prize Count(should be 1): <%= Prize.count %></h6>
  </div>
</div>
