<div class="row prize-container">
  <div class="large-12 medium-12 small-12 column prize-image-container">
    <% if @prize.calculate_prize_level == 1 %>
      <% id = Wallpaper.get_random_wallpaper_id %>
      <%= image_tag Wallpaper.find(id).image.url %>
    <% elsif @prize.calculate_prize_level == 2 %>
      <%= image_tag @prize.tier_2_prize.url %>
    <% else %>
      <%=image_tag @prize.tier_3_prize.url %>
    <% end %>
  </div>
</div>
